extends ../layouts/default

block head
    meta(name="description", content="Booking")

block content
    .sc-cancellation-page
        if bookings && bookings.length
          each booking in bookings
              .section.text-section
                  div(class="container")!= booking.content
