.cta-container
	.container
		h2 Reserve a room now!
			a.btn.reserve-btn(href=(linkData ? linkData.bookingLink : "http://www.webervations.com/magic-scripts/resbook.asp?memberid=SandcastleOscoda"), target="_blank") Reserve Now
