@font-face {
  font-family: 'AR JULIAN';
  src: url('../fonts/arjulian/ARJULIAN.eot');
  src: url('../fonts/arjulian/ARJULIAN.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arjulian/ARJULIAN.woff2') format('woff2'),
    url('../fonts/arjulian/ARJULIAN.woff') format('woff'),
    url('../fonts/arjulian/ARJULIAN.ttf') format('truetype');
  font-style: normal;
}
