// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;



// Make our variables with the starting being jg for jollygoat
// ie a btn would be jg-btn



$jg-font-size-h1: 36px !default;
$jg-font-size-h2: 24px !default;
$jg-font-size-p: 14px !default;




// color scheme //

$sc-dark-blue: #201F40;
$sc-light-blue: #AAE3F5;
$sc-white: #FFFFFF;
$sc-gray: #BBC2C4;
$sc-tan: #FCD89D;


